#quiz-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-container {
    display: grid;
    grid-template-columns: minmax(0, 70dvw) fit-content(100%);
    grid-template-rows: auto auto auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    width: 100%;
    max-width: 1600px;
    gap: 8px;
    padding: 20px;
}

.quiz-panel {
    background-color: hsl(var(--h-shift), 10%, 20%);
    border-radius: 6px;
    border: 2px solid #5f5f5f29;
    padding: 8px;
    position: relative;
}

.media-panel {
    grid-area: 1 / 1 / 2 / 2;
}

.actions-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    grid-area: 1 / 2 / 2 / 3;
}

.question-panel {
    width: 100%;
    grid-area: 2 / 1 / 3 / 3;
}

.media-container {
    position: relative;
    max-height: 60dvh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display-media {
    object-fit: contain;
    object-position: 0px 0px;
    height: 100%;
    max-width: 100%;
    display: block;
    border-radius: 6px;
    border: 1px solid #ffffff21;
}

#media-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(73, 73, 73, 0.66);
    top: 0px;
    border-radius: 4px;
    backdrop-filter: blur(40px);
    display: grid;
    place-items: center;
    font-family: var(--font-ui);
    font-size: 20px;
    color: white;
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s;
}

.question-content {
    font-family: var(--font-text);
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.answers-panel {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 20px;
    grid-area: 3 / 1 / 4 / 3;
}

#time-progress {
    width: 100%;
    border-radius: 0px;
    height: 8px;
}

#time-progress::-webkit-progress-bar {
    background-color: #0000003a;
}
#time-progress::-moz-progress-bar {
    background-color: #0000003a;
}

#time-progress::-webkit-progress-value
{
    background-color: #ffffff5d;
}

.metadata-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px 8px;
    font-family: var(--font-ui);
    color: hsl(var(--h-shift), 13%, 81%);
    font-size: 12px;
    font-weight: 400;
}

.metadata-row > span {
    padding: 4px 8px;
    background-color: hsla(var(--h-shift), 9%, 16%, 56%);
    border: 1px solid #ffffff15;
    border-radius: 4px;
}

.important-text {
    color: white;
    font-weight: 500;
    margin-left: 4px;
}

.practice-progress {
    font-family: var(--font-ui);
    color: hsl(var(--h-shift), 13%, 81%);
    background-color: hsla(var(--h-shift), 9%, 16%, 56%);
    padding: 6px;
    border: 1px solid #ffffff15;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 6px;
}

.practice-progress-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.practice-progress-bar-container {
    height: 6px;
    width: 100%;
    background-color: #ffffff15;
    border: 1px solid #ffffff10;
    border-radius: 4px;
    position: relative;
}

.practice-progress-hard-count {
    text-align: end;
    font-size: 10px;
    color: hsl(var(--h-shift), 13%, 81%);
}

.practice-progress-bar-fill {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color: white;
    opacity: 80%;
    border-radius: 4px;
}

.practice-progress-bar-fill-hard {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    background-color: red;
    opacity: 30%;
    border-radius: 4px;
}


.next-question-timeout-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--c-primary);
    transition: height .5s;
    z-index: 2;
}

.next-question-timeout-line {
    background-color: white;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 0px 8px 8px 0px;
    transition: width 2.5s linear;
}



@media only screen and (max-width: 1050px) {
    .quiz-container {
        padding: 8px !important;
    }
    
    .answers-panel {
        margin-top: 12px;
    }

    #display-media {
        max-height: 45dvh;
        max-width: 100%;
        object-position: unset;
    }

    .question-content {
        font-size: 14px;
    }

    .quiz-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .media-panel {
        grid-area: 1 / 1 / 2 / 3 !important;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .actions-panel {
        grid-area: 2 / 1 / 3 / 3 !important;
    }

    .question-panel {
        grid-area: 3 / 1 / 4 / 3 !important;
    }

    .answers-panel {
        grid-area: 4 / 1 / 5 / 3 !important;
        height: 100%;
    }


}
