#quiz-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-container {
    display: grid;
    grid-template-columns: minmax(30dvw, 70dvw) fit-content(100%);
    grid-template-rows: auto auto auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    width: 100%;
    max-width: 1600px;
    gap: 8px;
    padding: 20px;
    padding-top: 16px;
    place-content: center;
}

.quiz-panel {
    background-color: var(--c-panel);
    border-radius: 6px;
    border: 2px solid #5f5f5f29;
    padding: 8px;
    position: relative;
}

.media-panel {
    grid-area: 1 / 1 / 2 / 2;
}

.actions-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    grid-area: 1 / 2 / 2 / 3;
}

.question-panel {
    width: 100%;
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.media-container {
    position: relative;
    max-height: 60dvh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display-media {
    object-fit: contain;
    object-position: 0px 0px;
    height: 100%;
    max-width: 100%;
    display: block;
    border-radius: 6px;
}

#media-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(73, 73, 73, 0.66);
    top: 0px;
    border-radius: 4px;
    backdrop-filter: blur(40px);
    display: grid;
    place-items: center;
    font-family: var(--font-ui);
    font-size: 20px;
    color: var(--c-text-primary);
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s;
}

.question-content {
    font-family: var(--font-text);
    font-weight: 500;
    font-size: 16px;
    color: var(--c-text-primary);
}

.answers-panel {
    width: 100%;
    display: grid;
    place-items: center;
    grid-area: 3 / 1 / 4 / 3;
}

#time-progress {
    width: 100%;
    border-radius: 0px;
    height: 8px;
}

#time-progress::-webkit-progress-bar {
    background-color: #0000003a;
}
#time-progress::-moz-progress-bar {
    background-color: #0000003a;
}

#time-progress::-webkit-progress-value
{
    background-color: #ffffff5d;
}

.metadata-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px 8px;
    font-family: var(--font-ui);
    color: var(--c-text-dim);
    font-size: 12px;
    font-weight: 400;
}

.metadata-row > span {
    padding: 4px 8px;
    background-color: var(--c-sub-panel);
    border: 1px solid #ffffff15;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px #00000036;
}

.important-text {
    color: var(--c-text-primary);
    font-weight: 500;
    margin-left: 4px;
}

.practice-progress {
    font-family: var(--font-ui);
    color: hsl(var(--h-shift), 13%, 81%);
    padding: 6px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 6px;
}

.exam-progress {
    gap: 12px;
}

.practice-progress-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.practice-progress-bar-container {
    height: 6px;
    width: 100%;
    background-color: #ffffff15;
    border: 1px solid #ffffff10;
    border-radius: 4px;
    position: relative;
}

.practice-progress-hard-count {
    text-align: end;
    font-size: 10px;
    color: var(--c-text-dim);
}

.practice-progress-bar-fill {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color: hsl(var(--h-shift), 18%, 76%);
    opacity: 80%;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 1px var(--c-primary);
}

.practice-progress-bar-fill-hard {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    background-color: #ff3535;
    opacity: 30%;
    border-radius: 4px;
}


.next-question-timeout-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: height .5s;
    z-index: 2;
}

.next-question-timeout-line {
    background: linear-gradient(90deg, #fff0, hsl(var(--h-shift), 28%, 74%));
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: width 2.5s linear;
}

.separator {
    width: 60%;
    height: 3px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.03);
    margin-top: 16px;
    margin-bottom: 24px;
}

.result-status {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-family: var(--font-ui);
    font-size: 16px;
    font-weight: 500;
    gap: 6px;
    
}

.entry-title {
    color: var(--c-text-dim);
    font-weight: 400;
    font-size: 14px;
}

.entry-value {
    color: var(--c-text)
}

.entry-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.success-color {
    color: rgb(172, 206, 172)
}

.fail-color {
    color: rgb(228, 177, 177);
}

.wrong-answers-title-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    margin-block: 16px 8px;
    font-size: 14px;
}

.wrong-answers-title {
    color: var(--c-text);
    font-weight: 500;
    font-size: 14px;
}

.wrong-answers-container {
    width: 100%;
    padding: 8px;
    max-height: 60dvh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.exam-wrong-answer {
    padding: 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px
}

.exam-wrong-media {
    display: flex;
    justify-content: center;
}

.exam-wrong-media > video, 
.exam-wrong-media > img {
    width: 60%;
    border-radius: 4px;
    outline: 1px solid #ffffff2f;
}

.wrong-answers-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    gap: 8px;
    color: var(--c-text-dim);
    font-weight: 500;
    font-size: 16px;
    
}

.wrong-answer-control {
    color: var(--c-text-primary);
    opacity: .8;
    padding: 2px;
    transition: opacity .2s;
    cursor: pointer;
}

.wrong-answer-control:hover {
    opacity: 1;
}


@media only screen and (max-width: 1150px) {
    .quiz-container {
        padding: 8px !important;
    }
    
    #display-media {
        max-height: 45dvh;
        max-width: 100%;
        object-position: unset;
    }

    .question-content {
        font-size: 14px;
    }

    .quiz-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .media-panel {
        grid-area: 1 / 1 / 2 / 3 !important;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .actions-panel {
        grid-area: 2 / 1 / 3 / 3 !important;
    }

    .question-panel {
        grid-area: 3 / 1 / 4 / 3 !important;
    }

    .answers-panel {
        grid-area: 4 / 1 / 5 / 3 !important;
        height: 100%;
    }

    .kbd-shortcut {
        display: none !important;
    }

    .top-panel {
        justify-content: center;
    }
}
