.answers-tn-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
}

.answers-abc-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.ui-btn-depth  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background-color: hsl(var(--h-shift), 10%, 24%);
    border: 2px solid #ffffff17;
    box-shadow: 0px 5px 0px 0px hsl(var(--h-shift), 10%, 21%);
    border-radius: 4px;
    color: hsl(var(--h-shift), 13%, 81%);
    font-family: var(--font-ui);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .4s, transform .1s, box-shadow .1s, filter .2s;
}

.ui-btn-depth:active {
    transform: translateY(5px);
    box-shadow: none;
}

.ui-btn-depth:hover {
    filter: brightness(1.2)
}

.answer-option {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
}

.selected-answer {
    background-color: var(--c-primary);
    box-shadow: none;
    transform: translateY(5px);
    outline: 2px dashed #ffffff29;
    outline-offset: 2px;   
}

.abc-answer-group {
    display: flex;
    flex-direction: row;
    gap: 2px;
    background-color: hsl(var(--h-shift), 10%, 20%);
    border: 2px solid #5f5f5f29;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .1s, outline .1s, filter .2s;
    width: 100%;
}

.abc-answer-group:hover {
    filter: brightness(1.2);
}

.abc-answer-value {
    font-family: var(--font-ui);
    color: hsl(var(--h-shift), 13%, 81%);
    padding: 6px;
    background-color: #5f5f5f49;
    border-radius: 4px 0px 0px 4px;
    width: 30px;
    min-width: 30px;
    text-align: center;
    font-weight: 600;
    transition: background-color .1s, outline .1s;
}

.abc-answer-content {
    color: hsl(var(--h-shift), 13%, 90%);
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: 500;
    padding: 6px 6px;
    align-self: center;
}

.selected-abc-answer {
    background-color: var(--c-primary) !important;
    outline: 2px dashed #ffffff29;
    outline-offset: 2px;
}

.selected-abc-answer > .abc-answer-value {
    background-color: #3131315c;
}

.button-timer-container {
    width: 100%;
    border: 1px solid #5f5f5f29;
    box-shadow: 0px 5px 0px 0px hsl(var(--h-shift), 10%, 21%);
    color: white;
    background-color: hsl(var(--h-shift), 12%, 29%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    border-radius: 4px;
    font-family: var(--font-ui);
    font-weight: 600;
    position: relative;
    cursor: pointer;
    transition: filter .2s;
}

.button-timer-container:hover {
    filter: brightness(1.2)
}

.button-timer-container:active {
    transform: translateY(5px);
    box-shadow: none;
}

.button-timer-s {
    opacity: .7;
}

.button-timer-container > span {
    z-index: 1;
}

.button-timer-passed {
    background-color: var(--c-primary);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 4px;
    z-index: 0;
    transition: width 0.4s ease-in-out;
    box-shadow: inset 0px 1px 3px 0px #ffffff2c,
            inset 0px -1px 3px #0000006e
}

.action-button {
    background-color: var(--c-primary);
    box-shadow: 0px 5px 0px 0px hsl(var(--h-shift), 17%, 28%);
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: white;
}

.secondary-action {
    background-color: hsl(var(--h-shift), 8%, 23%);
    box-shadow: 0px 5px 0px 0px hsl(var(--h-shift), 10%, 21%);
}


.icon {
    color: hsla(var(--h-shift), 8%, 60%, 70%);
    max-height: 18px;
    margin-right: 6px;
    pointer-events: none;
}

.icon-light {
    color: hsla(var(--h-shift), 10%, 80%, 100%);
    max-height: 16px;
}


.top-panel {
    width: 100%;
    padding-inline: 24px;
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-panel-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.top-panel-actions > span {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--font-ui);
    font-size: 14px;
    color: white;
    gap: 2px;
    opacity: .8;
    transition: opacity .2s;
}

.top-panel-actions > span:hover {
    opacity: 1;
}

.top-panel-icon {
    max-height: 14px;
    opacity: .6;
}

.vert-sep {
    width: 1.5px;
    border-radius: 2px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 4px;
}

.error-animation {
    animation: horizontal-shaking 0.5s ease-in-out;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}
