@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

:root {
  --h-shift: 220;
  --font-ui: 'Outfit';
  --font-text: 'Quicksand';

  --c-primary: hsl(var(--h-shift), 15%, 43%);

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 !important;
  background-color: hsl(var(--h-shift), 11%, 14%);
}
